* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
li:hover {
  transform: scale(1.02);
  transition: all 0.8s ease;
}
body {
  background-color: #eee;
  font-family: "Open Sans", sans-serif;
}

.sideMenu {
  position: fixed;
  background-color: #161414;
  width: 18.75rem;
  height: 100%;
  box-sizing: border-box;
  padding: 1.87rem 1.25rem;
  transition: width 0.2s ease-in;
}
.sideMenu.inactive {
  width: 6.8rem;
  /* padding-left: 0.8rem; */
}
.sideMenu .top-section {
  position: relative;
  margin-bottom: 0.8rem;
}
.sideMenu .top-section .logo {
  display: inline-block;
}

.sideMenu .top-section .logo img {
  height: 1.6rem;
  width: auto;
}
.sideMenu.inactive .top-section .logo img {
  height: 1.6rem;
  width: auto;
}

.sideMenu .top-section .toggle-menu-btn {
  color: rgb(185, 179, 179);
  font-size: 1.25rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  /* transform: translateY(-50%); */
}

.sideMenu.inactive .top-section .toggle-menu-btn {
  color: #333;
  font-size: 1.25rem;
  position: absolute;
  top: 0;
  right: -3.12rem;
  /* transform: translateY(-50%); */
}

.divider {
  width: 100%;
  height: 0.0625rem;
  border-radius: 0.0625rem;
  background: #333;
}
.container {
  margin-left: 18.75rem;
  padding: 3.1rem;
  transition: margin-left 0.2s ease-in;
}
.container.inactive {
  margin-left: 6.9rem;
}

.sideMenu .main-menu {
  margin: 0.25rem 0;
}
.heading {
  font-size: 1.5rem;
  font-weight: 600;
}
.sideMenu .main-menu .menu-item {
  color: rgb(185, 179, 179);
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 1rem;
}

.sideMenu .main-menu .menu-item.active {
  background: #666;
}
.sideMenu.inactive .main-menu .menu-item {
  text-align: center;
}
.sideMenu .main-menu .menu-item span {
  position: absolute;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.sideMenu.inactive .main-menu .menu-item span {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.sideMenu .main-menu .sub-menu {
  color: rgb(185, 179, 179);
  margin-left: 1.2rem;
  border-left: 1px solid rgb(185, 179, 179);
  box-sizing: border-box;
  padding-left: 2rem;
  max-height: 0;
  /* click nagarinjel submenu dekhinu vaena so height 0 */
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}
.sideMenu .main-menu .sub-menu a {
  text-decoration: none;
  color: #666;
}
.sideMenu .main-menu .sub-menu.active a {
  text-decoration: none;
  color: #666;
}

.sideMenu .main-menu .sub-menu.active {
  max-height: 12.5rem;
}
.sideMenu .main-menu .sub-menu .li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.sideMenu .main-menu .menu-item .menu-item-logo {
  color: rgb(185, 179, 179);
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}

.User-heading {
  display: flex;
  justify-content: space-between;
}
.add-users {
  width: 7.8rem;
  height: 2.25rem;
  margin: 0.5rem;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.add-users.inactive {
  width: 3.8rem;
  transition: width 0.2s ease-in;
  height: 2.25rem;
  margin: 0.5rem;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.add-users:hover {
  /* box-shadow: 2px 1px 1px 2px rgb(184, 180, 180); */
  transform: scale(1.02);
  transition: all 1s ease;
}

.form-input {
  padding: 1rem 1rem 0 1rem;
}
.form-control {
  border: solid 1px gray;
  border-radius: 0.3rem;
  width: 100%;
}
.modal-button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: rgb(129, 179, 49);
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
.modal-button:hover {
  transform: scale(1.02);
  transition: all 1s ease;
}

.role-select {
  display: flex;
}
.role-select-1 {
  width: 19rem;
  padding: 0.5rem;
}
